@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;400;700&display=swap');


*{
    font-family: "DM Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2F1893;
    padding: 2rem 9rem;
}

.navbar h2{
    font-weight: 972px;
    padding-left: 21px;
    color: #fff;
    text-decoration: none;
}

.navbar li{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-weight: 500;
    margin: 15px;
}

.navbar{
    width: 100%;
    display: flex;
    gap: 30rem;
    margin-bottom: 5rem;
}

.navbar ul{
    display: flex;
    
}
.hero-img{
    position: relative;
}
.play-icon{
    position: absolute;
    top: 44%;
    left: 45%;
}
.big h3{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px
}

.big p{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.get {
    background-color: #25DAC5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 120px;
    margin-bottom: 20px;
}
#free { 
    font-size: 13px;
    color: #fff
}
.ham{
    display: none
}

.hero-img{
    display: flex;
    justify-content: space-between;
}

.big{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}



@media (max-width:660px) {
    body{
        padding: 2rem;
        margin-top: 1rem;
    }

    br{
        display: none;
    }

    .navbar ul{
        display: none
    }
    .navbar{
        gap: 0;
        justify-content: space-between;
        color: #fff;
        font-size: 25px;
    }
    .ham{
        display: block;
    }

    .big{
        flex-direction: column;
    }

   .play-icon{
        top: 20%;
        width: 50px;
    }
    .play-icon img{
        width: 100%;
    }
    
}